.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  /* gap para nao grudar a logo com os botoes */
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  /* conta com valor de padding podendo colocar o valor certinho no max width */
  box-sizing: border-box;
  padding: 20px;
  /* container para eixar responsivo no maximo de tamanho */
  max-width: 1200px;
  /* para sempre alinha o centro depois de passar os 1200px margin: auto;  */
  margin: auto;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

/* animacao: explicando, o elemnto after para o a pega sem precisar de position absolute, ele começa com tamanh zero e no segundo bloco com o hover ele cresce 100% a tag transition é o tempo que leva para acontecer isso */
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  /* sem o position: absolute; o elemento ia ser incrementado no bloco do header, fazendo com que o aling items center funcionasse mas colocando o tamanho de altura somado, com o absolute ele remove do bloco essa medida */
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
