.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  padding-bottom: 20px;
}

/* cria uma margem top sempredepois de um p */
.termos p + h2{
  margin-top: 40px;
}

.termos p {
  max-width: 75ch;
  padding-bottom: 24px;
}
